.footerbg {
  background-color: rgb(41, 41, 41);
  display: flex;
  justify-items: center;
}
.Sico {
  padding-bottom: 2rem;
  display: flex;
  margin-right: 10rem;
}
.footerbg p {
  margin-top: 1rem;
  margin-left: 10rem;
}
.footerbg img {
  width: 10%;
}
.footerbg .socialLink .Sico {
  margin-top: 0;
  padding-top: 0;
}
@media (max-width: 800px) {
  .footerbg {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footerbg p {
    margin-left: 0;
    text-align: center;
  }
  .footerbg .Sico {
    margin-right: 0;
  }
}
